<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<title>全民房产经纪人</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="x-ua-compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no,address=no,email=no" />
<meta name="mobileOptimized" content="width" />
<meta name="handheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="max-age=0" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="keywords" content="房产经纪人" />
<meta name="description" content="房产经纪人" />
<script type="text/javascript">
var base_file = "http://192.168.0.112:2000/app/Partner/index.php";
var base_url = "http://192.168.0.112:2000/app/Partner/index.php?c=home&amp;";
var base_ctrl = "c";
var base_func = "f";
var base_dir = "d";
</script>
<link rel="stylesheet"	href="./public/css/style.css" />
<link rel="apple-touch-icon-precomposed" href="./public/images/www/ico-startup-57x57.png" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>